<div>
    <p><br />
    </p>
    <p>Date: {{date}}</p>
    <p>&nbsp;Any Form.in<br />
    </p>
    <p><br />
    </p>
    <p><br />
    </p>
    <p><br />
    </p>
    <p style="text-align: center; "><span style="font-weight: bold; text-decoration-line: underline;">TO WHOM IT MAY
            CONCERN</span></p>
    <p style="text-align: left;"><span style="font-weight: bold;">
        </span></p>
    <p
        style="margin: 0px 0px 10px; font-size: 16px; line-height: 28px; text-align: justify; font-weight: 500; font-family: Rubik, Arial, sans-serif; background-color: rgb(255, 255, 255);">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is to certify that Mr/Mrs/Miss
        {{fullname}}, working as Employee. in our organization since 5 years. As per the employment records available
        with us, his/her current address are None. This certificate is accurate and valid for the purpose of bank loan.
    </p>
    <p
        style="margin: 0px 0px 10px; font-size: 16px; line-height: 28px; text-align: justify; font-weight: 500; font-family: Rubik, Arial, sans-serif; background-color: rgb(255, 255, 255);">
        Thanks!!!</p>
    <p
        style="margin: 0px 0px 10px; font-size: 16px; line-height: 28px; text-align: justify; font-weight: 500; font-family: Rubik, Arial, sans-serif; background-color: rgb(255, 255, 255);">
        &nbsp;</p>
    <p
        style="margin: 0px 0px 10px; font-size: 16px; line-height: 28px; text-align: justify; font-weight: 500; font-family: Rubik, Arial, sans-serif; background-color: rgb(255, 255, 255);">
        &nbsp;</p>
    <p
        style="margin: 0px 0px 10px; font-size: 16px; line-height: 28px; text-align: justify; font-weight: 500; font-family: Rubik, Arial, sans-serif; background-color: rgb(255, 255, 255);">
        For Any From</p>
    <p
        style="margin: 0px 0px 10px; font-size: 16px; line-height: 28px; text-align: justify; font-weight: 500; font-family: Rubik, Arial, sans-serif; background-color: rgb(255, 255, 255);">
        Manager –</p>
    <p
        style="margin: 0px 0px 10px; font-size: 16px; line-height: 28px; text-align: justify; font-weight: 500; font-family: Rubik, Arial, sans-serif; background-color: rgb(255, 255, 255);">
        HR Name Company Seal</p>
    <p
        style="margin: 0px 0px 10px; font-size: 16px; line-height: 28px; text-align: justify; font-weight: 500; font-family: Rubik, Arial, sans-serif; background-color: rgb(255, 255, 255);">
        Contact number - 9876543210</p>
    <br />

</div>